.form, .search {

	.actions {
		flex: 0 0 auto;
		display: flex;
		padding: 8px 0;
		align-items: center;
		justify-content: flex-end;
	}
}

.results {

	.field__id, .actions {
		padding: 0;
	}
}

.nodeParent {

	.MuiFormControl-root {
		width: 100%;
	}
}

.selectSearchType {
	height: 26px;
	width: 100%;

	select {
		padding-bottom: 0;
		padding-top: 0;
	}
}
