[submodule "src/definitions"]
	path = src/definitions
	url = git@github.com:bastmaleexcel/medefs
[submodule "src/components/format"]
	path = src/components/format
	url = git@github.com:bastmaleexcel/react-format
