#DoseSpot {
	height: 100%;
	width: 100%;

	.create {
		padding: 0 20px;

		.actions {
			button {
				width: 100%;
			}
		}
	}

	.verify, .prescriptions {
		padding: 10px;

		.product {

			div {
				display: table;
				height: 56px;

				div {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.MuiOutlinedInput-root, .MuiTextField-root {
			width: 100%;
		}

		.rta {
			button {
				width: 100%;
			}
		}
	}

	.sso {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		iframe {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
		}

		.close {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;
			padding: 5px 10px;

			button {
				width: 100%;
			}
		}
	}
}
