#notes {
	display: flex;
	flex-direction: column;
	height: 100%;

	.notes, .sms {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
		padding: 10px;

		.footer {
			font-size: 80%;

			.error {
				color: red;
			}
		}

		.scroll {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;
			height: 0;
			margin: 0;
			padding: 0;
		}
	}

	.notes {

		.note {
			border-radius: 10px;
			margin-bottom: 10px;
			padding: 10px;
			position: relative;

			.content {
				p {
					font-size: 125%;
				}
			}
		}

		.Outgoing {
			background-color: #91da84;
			border: 1px solid #78C275;

			.footer {
				text-align: right;
			}
		}

		.Outgoing.Doctor:before {
			border-bottom-color: #dfd087;
		}

		.Outgoing.Doctor {
			background-color: #f8e896;
			border-color: #dfd087;
		}

		.Outgoing.Doctor:after {
			border-bottom-color: #f8e896;
		}

		.Outgoing.System:before {
			border-bottom-color: #9a9ba4;
		}

		.Outgoing.System {
			background-color: #b3b3b3;
			border-color: #9a9ba4;
		}

		.Outgoing.System:after {
			border-bottom-color: #b3b3b3;
		}

		/* 19180F subtract this from primary color (background-color) */
	}

	.sms {

		.message:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		.message {
			border-radius: 10px;
			margin-bottom: 10px;
			padding: 10px;
			position: relative;
			width: 80%;

			.content {
				p {
					font-size: 125%;
				}
			}
		}

		.message:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		.Incoming:before {
			border-top: 17px solid #97c6e3;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			left: -17px;
			top: -1px;
		}

		.Incoming {
			background-color: #a8ddfd;
			border: 1px solid #97c6e3;
			margin-left: 20px;
		}

		.Incoming:after {
			border-top: 15px solid #a8ddfd;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			left: -15px;
			top: 0;
		}

		.Outgoing:before {
			border-bottom: 17px solid #dfd087;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			bottom: -1px;
			right: -17px;
		}

		.Outgoing {
			background-color: #f8e896;
			border: 1px solid #dfd087;
			margin-left: calc(20% - 17px);

			.footer {
				text-align: right;
			}
		}

		.Outgoing:after {
			border-bottom: 15px solid #f8e896;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			bottom: 0;
			right: -15px;
		}

		/* 19180F subtract this from primary color (background-color) */
	}

	.templates, .label {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		width: 100%;

		.select {
			width: 100%;
		}
	}

	.send {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		width: 100%;

		.text {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
		}

		button {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;
			width: 150px;
		}
	}
}
